@media (max-width: 600px) {
// Top wrapper
.top-wrapper {
    .top-img {
        height: 95vh;
    }
}

// About wrapper
.about-wrapper {
    .introduction {
        flex-direction: column;
        .about-img {
            display: flex;
            justify-content: center;
        }
        .about-contents {
            display: flex;
            justify-content: center;
            margin-top: 10px;
            .about-contents-item {
                h4 {
                    margin-bottom: 10px;
                }
            }
        }
    }
}

// Bicycle wrapper
.bicycle-wrapper {
    .bicycle-contents {
        display: flex;
        flex-direction: column;
        .item {
            width: 100%;
            margin: 0 0 30px 0;
            .item-contents {
                h4 {
                    margin: 10px 0;
                }
            }
        }
    }
}
}