* {
    box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    width: 960px;
    margin: 0 auto;
    padding-left: 70px;
    padding-right: 85px;
}

main {
    p {
        font-size: 14px;
    }
}

// Header
header {
    height: 60px;
    display: flex;
    align-items: center;
}

.main-nav {
    display: flex;
    justify-content: space-between;
}

.main-nav__logo {
    a {
        display: flex;
    }
}

.main-nav__list {
    display: flex;
    .main-nav__item {
        line-height: 40px;
        margin-left: 30px;
        font-size: 14.4px;
        a {
            color: #24292e;
        }
        &:hover {
            opacity: 0.7;
        }
    }
}

// Top wrapper
.top-wrapper {
    margin-bottom: 80px;
    img {
        display: block;
        height: 600px;
        width: 100%;
        object-fit: cover;
    }
}

// About section
.about-section {
    text-align: center;
    .heading {
        margin-bottom: 70px;
        h2 {
            font-size: 2rem;
            border-bottom: 1px solid #000000;
            display: inline-block;
        }
    }
    .about-section__item {
        display: flex;
        justify-content: center;
        .about-section__image {
            img {
                display: inline-block;
                height: 100px;
                width: 100px;
                border-radius: 100%;
            }
        }
        .about-section__text {
            width: 385px;
            text-align: left;
            margin-left: 35px;
            word-break: normal;
            h4 {
                margin: 9px 0;
            }
        }
    }
}