* {
    box-sizing: border-box;
}

html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: "Hiragino Kaku Gothic ProN";
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    p {
        font-size: 14px;
    }
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 4%;
}

// Header
header {
    height: 60px;
}

.header-left {
    float: left;
    a {
        .logo {
            width: 120px;
            margin-top: 10px;
        }
    }
}

.header-list {
    float: right;
    li {
        float: left;
        line-height: 60px;
        padding: 0 15px;
        font-size: 15px;
        a {
            color: #000000;
            &:hover {
                opacity: 0.6;
            }
        }
    }
}

// Top wrapper
.top-wrapper {
    margin-bottom: 80px;
    img {
        display: block;
        height: 600px;
        width: 100%;
        object-fit: cover;
    }
}

// About section
.about-section {
    text-align: center;
    margin-bottom: 80px;
    .about-section__item {
        display: flex;
        justify-content: center;
        .about-section__image {
            img {
                display: inline-block;
                height: 100px;
                width: 100px;
                border-radius: 100%;
            }
        }
        .about-section__text {
            width: 385px;
            text-align: left;
            margin-left: 35px;
            word-break: normal;
            h4 {
                margin: 10px 0;
            }
        }
    }
}

.heading {
    margin-bottom: 70px;
    h2 {
        font-size: 2rem;
        border-bottom: 1px solid #000000;
        display: inline-block;
    }
}


// Bicycle section
.bicycle-section {
    text-align: center;
    margin-bottom: 120px;
    .bicycle-section-cards {
        display: flex;
        justify-content: center;
        .bicycle-section__item {
            width: 13.5%;
            margin: 0 8px;
            .bicycle-section-cards__image {
                img {
                    display: block;
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                }
            }
            .bicycle-section-cards__text {
                h4 {
                    margin: 18px 0;
                }
            }
        }
    }
}

// Footer
footer {
    text-align: center;
    p {
        padding: 10px 0;
        font-size: 10px;
        color: #313131;
    }
}