* {
    box-sizing: border-box;
}

body {
    font-family: "Hiragino Kaku Gothic ProN";
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

main {
    p {
        font-size: 14px;
    }
}

.container {
    width: 960px;
    margin: 0 auto;
    padding: 0 4%;
}

.clear {
    clear: left;
}

.heading {
    display: inline-block;
    margin-bottom: 70px;
    border-bottom: 1px solid #000000;
    h2 {
        font-size: 2rem;
    }
}

// CSSリセット
html,
body,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div {
    margin: 0;
    padding: 0;
}


// Header
header {
    height: 60px;
}

.header-left {
    float: left;
    a {
        .logo {
            width: 120px;
            margin-top: 10px;
        }
    }
}

.header-list {
    float: right;
    li {
        float: left;
        line-height: 60px;
        padding: 0 15px;
        font-size: 15px;
        a {
            color: #000000;
            &:hover {
                opacity: 0.6;
            }
        }
    }
}

// Top wrapper
.top-wrapper {
    margin-bottom: 80px;
    .top-img {
        display: block;
        height: 600px;
        width: 100%;
        object-fit: cover;
    }
}

// About wrapper
.about-wrapper {
    text-align: center;
    margin-bottom: 80px;
    .introduction {
        display: flex;
        justify-content: center;
        .about-img {
            display: block;
            height: 100px;
            width: 100px;
            border-radius: 100%;
        }
        .about-contents {
            text-align: left;
            margin-left: 30px;
            h4 {
                margin: 10px 0;
            }
        }
    }
}

// Bicycle wrapper
.bicycle-wrapper {
    text-align: center;
    margin-bottom: 120px;
    .bicycle-contents {
        display: flex;
        text-align: center;
        .item {
            width: 35%;
            margin: 0 10px;
            .bicycle-img {
                max-width: 100%;
                height: auto;
                width: auto;
            }
        }
    }
}

// Footer
footer {
    text-align: center;
    p {
        padding: 10px 0;
        font-size: 10px;
        color: #313131;
    }
}